body {
    margin: 0;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.center {
    padding:20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border : 2.5px;
    border-style: solid;
}

.top {
    text-align: center;
}

button{
    border-radius: 7px;
    padding: 10px 30px;
    transition-duration: 0.2s;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    margin: 6px;
    display: inline-block;
    position: relative;
    background-color: rgb(217,217,217);
    cursor:pointer;
} 

.vid{
                
    z-index: -1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

.site{
    
    z-index: 1;
}
.bg{
    width: 100vw;
    height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}

.limitat {
    text-align: center;
}